*{
    margin: 0;
    padding: 0;
}
#headers{
    width: 100vw;
    height: 20vh;
    background-color: skyblue;
}

#title{
    font-size: 60px;
    position: absolute;
    left: 40vw;
}
#search{
    margin: 5vh;
}
#search-button{
    position: absolute;
    right: 7.7vw;
    width: 5vw;
    height: 5vh;
    top: 20.2vh;

}
#search-box{
    position: absolute;
    top: 20vh;
    left: 11.1vw;
    width: 75vw;
    height: 5vh;
}
#content{
    width: 100vw;
    height: 80vh;
    background-color: blue;
}
.card{
    position: absolute;
    top: 40vh;
    background-color: black;
}
#card1{
    padding: 2vw;
    width: 40vw;
    height: 40vh;
    position: absolute;
    left: 10vw;
}
#card2{
    padding: 4vw;
    width: 40vw;
    height: 40vh;
    position: absolute;
    left: 20vw;
}
